
body{
	font-family: Arial, sans-serif;
	background-color: grey;
	margin: 0;
	padding: 0;
}
h1{
	color: lightblue;
}
fieldset
{
	background-color: 	white;
}
p{
	background-color: ghostwhite;
}
legend{
	background-color: 	red;
}
label{
	background-color: white;
}
.b1{background-color: black;
	color: greenyellow;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	text-align: center;
	margin: 10px;
	cursor: pointer;
	transition: color 0.3s ease;
	width: 100px;
}
.b1:hover {

	color: red;
	background-color: greenyellow;
}
.c1 {
	color: deepskyblue;


}
.d1
{
	color: red;
}